/* animation to show/hide new blog post links */

@keyframes news1 {
    0% {
      display: none;
      transform: translateX(-130vw);
    }
    5% {
      transform: translateX(0);
      display: block;
    }
    25% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-130vw);
      display: none;

    }
    100% {
      transform: translateX(-130vw);
      display: none;
    }
  }
  
  @keyframes news2 {
    
    0% {
      display: none;
      transform: translateX(-130vw);
    }
    30% {
      transform: translateX(-130vw);
    }
    35% {
      display: block;
      transform: translate(0);
    }
    55% {
      transform: translate(0)
    }
    60% {
      transform: translate(-130vw);
      display: none;
    }
    100% {
      transform: translateX(-130vw);
      display: none;
    }

    
  }
  
  @keyframes news3 {

    0% {
      transform: translateX(-130vw);
      display: none;
    }
    60% {
      transform: translateX(-130vw);
      display: none;
    }
    65% {
      transform: translate(0);
    }
    85% {
      transform: translate(0)
    }
    90% {
      transform: translate(-130vw);
      display: none;
    }
    100% {
      transform: translateX(-130vw);
      display: none;
    }
    
  }

  /* main styles */
  
  body {
    margin: 0 auto;
    color: #F15B26;
    background: #EEEEEE;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 1200px;
  }

  .light-theme {

    color: #F15B26;
    background: #EEEEEE;

  }

  .dark-theme {

    color: yellow;
    background: #111;

  }
  
  .logo {
    height: 60px;
    width: 60px;
    /* background-color: #ABABAB; */
    /* background: url("images2/jbasshero.png"); */
    /* padding: 25px; */
    border-radius: 100%;
    border: 3pt solid #ABABAB;
  }

  .logo-darkmode {
    border: 3pt solid #323232;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2pt solid #ababab;
    background: #EEEEEE;
    text-align: center;
    width: auto;
    /* min-width: 325px; */
  }

  .header-darkmode {
    border-bottom: 2pt solid #323232;
    background: #111;
  }

  /* hamburger nav styles  */
  
  .container {
    display: inline-block;
    cursor: pointer;
    background-color: #ABABAB;
    padding: 10px;
    border-radius: 2pt;
  }

  .container-darkmode {
    background-color: #323232;
  }
  
  .container:hover {
    background-color: cyan;
    transition: 2s;
  }

  /* .container-darkmode:hover {
    background-color: #F15B26;
  } */
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #F15B26;
    margin: 6px 0;
    transition: 0.4s;
  }

  .bar-darkmode {
    background-color: yellow;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  nav {
    position: absolute;
    top: 110px;
    left: 65%;
    display: inline-block;
    width: 33vw;
    max-width: 450px;
    text-align: center;
    background-color: #BCBCBC;
    z-index: 2;
  }
  
  nav a {
    display: block;
    padding: 10px;
    outline: 1px #ABABAB solid;
    color: #F15B26;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: cyan;
    color: #111;
  }

  .dark-nav-theme {
    color: yellow;
    background-color: #323232;
  }

  .dark-nav-theme a {
    color: yellow;
    background-color: #323232;
  }



  /* hero and content styles  */
  
  main {
    display: flex-wrap;
    min-height: 450px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .frontpage {
    background: url("../images2/jneckshot.png")no-repeat center;
    background-size: cover;
    display: flex;
  }

  

  /* footer and social media link styles  */

  .main-lightmode {
    border-top: 2pt #ABABAB solid;
  }
  .main-darkmode {
    border-top: 2pt #323232 solid;
  }
  
  .bottomContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 20px;
    grid-template-areas:
      "followAd followAd followAd followAd followAd followAd"
      "twitch insta youtube fbook twitter soundcloud"
      "copyright copyright copyright copyright copyright copyright";
    text-align: center;
    column-gap: 10px;
    padding: 10px;
    margin: 0 auto;
  }
  
  .followAd {
    font-size: 1.5em;
    text-align: center;
    grid-area: followAd;
  }
  
  .followAd span {
    color: #111;
    padding: 9px;
    border-radius: 10pt;
  }

  .followAd-darkmode span {
    color: #EEEEEE;
  }
  
  .twitch {
    grid-area: twitch;
  }
  .twitch-lightmode {
    background: url("../images2/twitch.svg") no-repeat;
  }
  .twitch-darkmode {
    background: url("../images2/twitch-darkmode.svg") no-repeat;
  }
  .insta {
    grid-area: insta;
  }
  .insta-lightmode {
    background: url("../images2/instalogo.svg") no-repeat;
  }
  .insta-darkmode {
    background: url("../images2/instalogo-darkmode.svg") no-repeat;
  }
  .youtube {
    grid-area: youtube;
  }
  .youtube-lightmode {
    background: url("../images2/youtube.svg") no-repeat;
  }
  .youtube-darkmode {
    background: url("../images2/youtube-darkmode.svg") no-repeat;
  }
  .fbook {
    grid-area: fbook;
  }
  .fbook-lightmode {
    background: url("../images2/facebookf.svg") no-repeat;
  }
  .fbook-darkmode {
    background: url("../images2/facebookf-darkmode.svg") no-repeat;
  }
  .twitter {
    grid-area: twitter;
  }
  .twitter-lightmode {
    background: url("../images2/twitter.svg") no-repeat;
  }
  .twitter-darkmode {
    background: url("../images2/twitter-darkmode.svg") no-repeat;
  }
  .soundcloud {
   grid-area: soundcloud;
  }
  .soundcloud-lightmode {
    background: url("../images2/soundcloud.svg") no-repeat;
  }
  .soundcloud-darkmode {
    background: url("../images2/soundcloud-darkmode.svg") no-repeat;
  }
  
  .bottomContainer a:hover {
    transform: rotate(360deg);
    transition: 1s ease-in-out;
  }
  
  #copyright {
    grid-area: copyright;
  }

  .news {
    margin: 20px;
    padding: 10px;
    background: #ABABABBB;
     min-height: 225px;
    min-width: 300px;
    border-radius: 50%;
    border: 3pt solid #323232;
    background-size: 100%;
    text-align: center;
  }
  .news a {
    height: 200px;
    width: 200px;
  }
  
  .news h3 {
    display: inline-block;
    background: #111;
    color: cyan;
    position: relative;
    top: -100px;
    font-size: 2em;
    padding: 20px;
    border-radius: 50%;
  }
  
  #news1 {
    position: absolute;
    background: url("../images/noturgirlpropo.png") center no-repeat;
    background-size: 100%;
    animation-name: news1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-direction: linear;
    animation-iteration-count: infinite;
  }
  
  #news2 {
    position: absolute;
    background: url("../images/thatgumyoulikealbumart.png")no-repeat;
    background-size: 100%;
    background-position: 0 -70px;
    animation-name: news2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-direction: linear;
    animation-iteration-count: infinite;
  }
  
  #news3 {
    position: absolute;
    background: url("../images2/cashboxImg.png")no-repeat;
    background-size: 200%;
    background-position: -100px -50px;
    animation-name: news3;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-direction: linear;
    animation-iteration-count: infinite;
  }
  
  /* blog page styles  */

  .blog {
    display: flex-wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .blogpost {
    text-align: left;
    background: #CECECE55;
    border-radius: 5pt;
    padding: 20px;
    margin: 40px auto;
    width: auto;
    max-width: 800px;
    line-height: 1.3;
  }
  .blogpost-darkmode {
    background-color: #323232;
  }
  
  .blogImage {
    width: auto;
    max-width: 300px;
    padding: 10px 10px 10px 25px;
    margin: 0 15px 25px 0;
    /* border-radius: 5%; */
  }
  .blogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 10vw; */
    width: auto;
  }

/* font styles  */

  h1 {
    text-align: center;
    font-size: 1.6em;
    margin: 5px;

  }

  h1 span {
    color: #111;
  }

  .blogtitle-darkmode {
    color: #EEEEEE;
  }

  h2 {
    font-size: 1.8em;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  h4 {
    font-style: italic;
    font-weight: 400;
    color: #111;
  }
  
  p {
    color: #111;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    font-weight: lighter;
  }

  .pdarkmode {
    color: #EEE;
  }

  /* flex link, collab pics, and youtube holder styles  */

  .youtubewrap {
    display: flex;
    justify-content: center;
  }
  .linkbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkbuttons button {
    padding: 10px;
    margin: 20px;
    background-color: cyan;
    color: #F15B26;
    border: none;
    border-radius: 5pt;
  }

  .linkbuttons button:hover {
    background-color: yellow;
    color: #111;
    transition: 2s;
  }

  .biopic {
    width: 40%;
    position: relative;
    
  }

  .quoteAttr {
    text-align: right;
    text-decoration: none;
    color: #F15B26;
  }

  .hidden {
    display: none;
  }

  .linkholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .linkholder a {
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    text-decoration: none;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 20px;
  }
  .kendalLink {
    background: url(https://images.squarespace-cdn.com/content/v1/55eb240ce4b01fb4a6ecd3c5/1583256438675-I6M40E0LEUNFPNCXHZOE/ke17ZwdGBToddI8pDm48kLnSoccxg35QkxorAP-1ljlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIHydQ2A4AEi65ARmsjzl1xP4tbV1LAy2UU2z2YdMBqoY/Screen+Shot+2020-03-03+at+10.26.39+AM.png?format=300w)center no-repeat;
    background-size: 200%;
  }
  .blainLink {
    background: url(../images2/Brian-Blain.jpeg)center no-repeat;
    background-size: 200%;
  }
  .filmmusicLink {
    background: url("../images/composingfilmlink.png") center no-repeat;
    background-size: 200%;
  }

  .drumslink {
    background: url("../images/drumslinkpic.png")center no-repeat;
    background-size: 100%;
  }

  .linkholder a:hover {
    background: #F15B26;
    color: cyan;
    transition: 1.5s;
  }

  .frameholder {
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .iframeBox {
    display: grid;
    margin: 30px auto;
  }
  .iframeCaption {
    text-align: center;
    padding: 10px;
    border-radius: 5pt;
  }

  #twitchcont {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: #222222DD;
    width: auto;
    /* max-width: 800px; */
    text-align: center;
    min-height: 420px;
    font-size: 3em;
  }

  #twitch-embed {
    margin: 0px 2px;
    width: auto;
    height: auto;
  }

  .blogpost-darkmode {
    background-color: #323232;
    color: #EEE;
  }

  .text-darkmode {
    color: #EEE;
  }

  .instInstructions {
    text-align: center;
  }

  /* big screen media query */


  @media only screen and (min-width: 900px) {
    h1 {
      font-size: 3em;
    }
    h2 {
      text-align: left;
    }
    .followAd {
      font-size: 2em;
    }
    .bottomContainer {
      max-width: 50vw;
    }
    .blogImage {
      margin-left: 100px;
      max-width: 350px;
    }
    .logo {
      height: 120px;
      width: 120px;
    }
  

  }