/* animation to show/hide new blog post links */

@keyframes menu {
    0% {
      transform: translateY(-130vw);
    }
    100% {
      transform: translateY(-40vw);
    }
  }
  
  
  
  

  /* main styles */

  .transparency {
    opacity: 50%;
  }
.opaque {
  opacity: 100%;
}
  
  body {
    margin: 0 auto;
    color: #F15B26;
    background: #EEEEEE;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 1200px;
  }

  .light-theme {

    color: #F15B26;
    background: #EEEEEE;

  }

  .dark-theme {

    color: #FFCB05;
    background: #111;

  }
  
  .logo {
    height: 80px;
    width: 80px;
    /* background-color: #ABABAB; */
    /* background: url("images2/jbasshero.png"); */
    /* padding: 25px; */
    border-radius: 100%;
    /* border: 3pt solid #ABABAB; */
  }

  .title {
    height: 120px;
    width: 120px;
  }

  .titlewrap {
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .logo-darkmode {
    /* border: 3pt solid #323232; */
  }
  
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border-bottom: 2pt solid #ababab; */
    background: #EEEEEE;
    text-align: center;
    width: auto;
    z-index: 2;
    /* min-width: 325px; */
  }

  .header-darkmode {
    /* border-bottom: 2pt solid #323232; */
    background: #111;
  }

 /* hamburger nav styles  */
  
 .container {
  display: inline-block;
  cursor: pointer;
  background-color: #ABABAB;
  padding: 20px;
  border-radius: 2pt;
}

.container-darkmode {
  background-color: #323232;
}

.container:hover {
  background-color: #00AEEF;
  transition: 2s;
}

/* .container-darkmode:hover {
  background-color: #F15B26;
} */

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #F15B26;
  margin: 6px 0;
  transition: 0.4s;
}

.bar-darkmode {
  background-color: #FFCB05;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
   
    
  }
  
  nav {
    position: fixed;
    top: 28%;
    left:10vw;
    right:10vw;
    text-align: center;
    
    display: inline-block;
  }
  
  nav a {
    display: inline-block;
    padding: 10px;
    border: 1px #ABABAB solid;
    background: linear-gradient(#ABABAB,#323232);
    color: #F15B26;
    text-decoration: none;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 10pt;
    z-index: 2;
  }
  
  nav a:hover {
    background-color: #00AEEF;
    color: #111;
  }

  .dark-nav-theme {
    color: #FFCB05;
    /* background-color: #323232; */
  }

  .dark-nav-theme a {
    color: #FFCB05;
    background-color: #323232;
  }



  /* hero and content styles  */
  
  main {
    display: grid;
    min-height: 450px;
    text-align: center;
  }

  .MainHero {

    width: 75%;
    height: 75%;

  }

  .frontpage {
    /* background: url("../images2/jstringsupclose.png")no-repeat center; */
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  

  /* footer and social media link styles  */

  /* .main-lightmode {
    /* border-top: 2pt #ABABAB solid; */
  /* } */
  /* .main-darkmode {
    /* border-top: 2pt #323232 solid; */
  /* } */
  
  .bottomContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 20px;
    grid-template-areas:
      "followAd followAd followAd followAd followAd followAd"
      "twitch insta youtube fbook twitter soundcloud"
      "copyright copyright copyright copyright copyright copyright";
    text-align: center;
    column-gap: 10px;
    padding: 10px;
    margin: 0 auto;
  }
  
  .followAd {
    font-size: 1.5em;
    text-align: center;
    grid-area: followAd;
  }
  
  .followAd span {
    color: #111;
    padding: 9px;
    border-radius: 10pt;
  }

  .followAd-darkmode span {
    color: #EEEEEE;
  }
  
  .twitch {
    grid-area: twitch;
  }
  .twitch-lightmode {
    background: url("../images2/twitch.svg") no-repeat;
  }
  .twitch-darkmode {
    background: url("../images2/twitch-darkmode.svg") no-repeat;
  }
  .insta {
    grid-area: insta;
  }
  .insta-lightmode {
    background: url("../images2/instalogo.svg") no-repeat;
  }
  .insta-darkmode {
    background: url("../images2/instalogo-darkmode.svg") no-repeat;
  }
  .youtube {
    grid-area: youtube;
  }
  .youtube-lightmode {
    background: url("../images2/youtube.svg") no-repeat;
  }
  .youtube-darkmode {
    background: url("../images2/youtube-darkmode.svg") no-repeat;
  }
  .fbook {
    grid-area: fbook;
  }
  .fbook-lightmode {
    background: url("../images2/facebookf.svg") no-repeat;
  }
  .fbook-darkmode {
    background: url("../images2/facebookf-darkmode.svg") no-repeat;
  }
  .twitter {
    grid-area: twitter;
  }
  .twitter-lightmode {
    background: url("../images2/twitter.svg") no-repeat;
  }
  .twitter-darkmode {
    background: url("../images2/twitter-darkmode.svg") no-repeat;
  }
  .soundcloud {
   grid-area: soundcloud;
  }
  .soundcloud-lightmode {
    background: url("../images2/soundcloud.svg") no-repeat;
  }
  .soundcloud-darkmode {
    background: url("../images2/soundcloud-darkmode.svg") no-repeat;
  }
  
  .bottomContainer a:hover {
    transform: rotate(360deg);
    transition: 1s ease-in-out;
  }
  
  #copyright {
    grid-area: copyright;
  }

  .news {
    margin: 20px;
    padding: 10px;
    background: #ABABABBB;
     min-height: 225px;
    min-width: 300px;
    border-radius: 50%;
    border: 3pt solid #323232;
    background-size: 100%;
    text-align: center;
  }
  .news a {
    height: 200px;
    width: 200px;
  }
  
  .news h3 {
    display: inline-block;
    background: #111;
    color: #00AEEF;
    /* position: relative; */
    top: -100px;
    font-size: 2em;
    padding: 20px;
    border-radius: 50%;
  }
  
  #news1 {
    /* position: relative; */
    background: url("../images/noturgirlpropo.png") center no-repeat;
    background-size: 100%;
    animation-name: news1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-direction: linear;
    animation-iteration-count: infinite;
  }
  
  #news2 {
    /* position: relative; */
    background: url("../images/thatgumyoulikealbumart.png")no-repeat;
    background-size: 100%;
    background-position: 0 -70px;
    animation-name: news2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-direction: linear;
    animation-iteration-count: infinite;
  }
  
  #news3 {
    position: relative;
    background: url("../images2/cashboxImg.png")no-repeat;
    background-size: 200%;
    background-position: -100px -50px;
    animation-name: news3;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-direction: linear;
    animation-iteration-count: infinite;
  }
  
  /* blog page styles  */

  .blog {
    display: flex-wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .blog a {
    color: lightseagreen;
    text-decoration: none;
  }
  .blogpost {
    text-align: left;
    background: #CECECE55;
    border-radius: 5pt;
    padding: 20px;
    margin: 5px auto 100px auto;
    width: auto;
    max-width: 800px;
    line-height: 1.4;
  }
  .blogpost-darkmode {
    background-color: #323232;
  }
  
  .blogImage {
    width: auto;
    max-width: 300px;
    padding: 10px 10px 10px 25px;
    margin: 0 15px 25px 0;
    /* border-radius: 5%; */
  }
  .blogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 10vw; */
    width: auto;
    margin: 0 15px;
  }

/* font styles  */

  h1 {
    text-align: center;
    font-size: 1.6em;
    margin: 5px;

  }

  h1 span {
    color: #111;
  }

  .blogtitle-darkmode {
    color: #EEEEEE;
  }

  h2 {
    font-size: 1.8em;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  h4 {
    font-style: italic;
    font-weight: 400;
    color: #111;
  }
  
  p {
    color: #111;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    text-indent: 1.5em;
  }

  .pdarkmode {
    color: #EEE;
  }

  /* flex link, collab pics, and youtube holder styles  */

  .youtubewrap {
    display: flex;
    justify-content: center;
  }
  .linkbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkbuttons button {
    padding: 10px;
    margin: 20px;
    background-color: #00AEEF;
    color: #F15B26;
    border: none;
    border-radius: 5pt;
  }

  .linkbuttons button:hover {
    background-color: #FFCB05;
    color: #111;
    transition: 2s;
  }

  .biopic {
    width: 40%;
    position: static;
    margin: 15px;
    z-index: 0;
    
  }

  .quoteAttr {
    text-align: right;
    text-decoration: none;
    color: #F15B26;
  }

  .hidden {
    display: none;
  }

  .hide {
    display: hidden;
  }

  .linkholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .linkholder a {
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFCB05;
    text-decoration: none;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 20px;
  }
  .kendalLink {
    background: url(https://images.squarespace-cdn.com/content/v1/55eb240ce4b01fb4a6ecd3c5/1583256438675-I6M40E0LEUNFPNCXHZOE/ke17ZwdGBToddI8pDm48kLnSoccxg35QkxorAP-1ljlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIHydQ2A4AEi65ARmsjzl1xP4tbV1LAy2UU2z2YdMBqoY/Screen+Shot+2020-03-03+at+10.26.39+AM.png?format=300w)center no-repeat;
    background-size: 200%;
  }
  .blainLink {
    background: url(../images2/Brian-Blain.jpeg)center no-repeat;
    background-size: 200%;
  }
  .filmmusicLink {
    background: url("../images/composingfilmlink.png") center no-repeat;
    background-size: 200%;
  }

  .drumslink {
    background: url("../images/drumslinkpic.png")center no-repeat;
    background-size: 100%;
  }

  .linkholder a:hover {
    background: #F15B26;
    color: #00AEEF;
    transition: 1.5s;
  }

  .frameholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .iframeBox {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
  }
  .iframeBox iframe {
    margin: 20px;
  }
  .iframeCaption {
    text-align: center;
    padding: 10px;
    border-radius: 5pt;
  }

  #twitchcont {
    background: #222222DD;
    width: auto;
    /* max-width: 800px; */
    text-align: center;
    min-height: 420px;
    font-size: 3em;
  }

  .twitchcontHidden {
     display: flex;
    justify-content: center;
    align-items: center;
  }

  #twitch-embed {
    margin: 0px 2px;
    width: auto;
    height: auto;
  }

  .blogpost-darkmode {
    background-color: #323232;
    color: #EEE;
  }

  .text-darkmode {
    color: #EEE;
  }

  .instInstructions {
    text-align: center;
  }

  /* big screen media query */


  @media only screen and (min-width: 800px) {
    h1 {
      font-size: 3em;
    }
    h2 {
      text-align: left;
    }
    .followAd {
      font-size: 2em;
    }
    .bottomContainer {
      max-width: 50vw;
    }
    .blogImage {
      margin-left: 80px;
      max-width: 350px;
    }
    .logo {
      height: 120px;
      width: 120px;
    }

    .title {
      height: 150px;
      width: 150px;
    }

    .MainHero {
      height: 45%;
      width: 45%;
    }
  

  }